<%= form_with(model: health_record, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :record_type %>
    <%= form.select :record_type, HealthRecord.record_types.keys.map { |type| [type.titleize, type] }, {}, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :language %>
    <%= form.select :language, [["English", "english"], ["French", "french"], ["Spanish", "spanish"]], {}, class: "form-select" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>

